{:paths ["src"]
 :deps  {org.clojure/data.xml {:mvn/version "0.0.8"}
         io.github.nextjournal/clerk {:mvn/version "0.12.707"}
         djblue/portal {:mvn/version "0.35.1"}}
 :aliases
 {:neil {:project {:name garden/garden}}
  :nextjournal/clerk {:exec-fn nextjournal.clerk/build!
                      :exec-args {:paths ["src/garden/bread_butter.clj"]}}}}
